

:root {
    --teal: #4aaaa5;
    --heading-font: 'Georgia', Times, Times New Roman, serif;

    --other-fonts: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    --other-font-color: #777;
}



html, body {
    margin: 0;
    padding: 0;
    color: #777777;
}

body {
    
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
    min-height: calc(100vh - 70px);
}



h1 {
    margin: 0;
    font-family: var(--heading-font);
    color: var(--teal);
    font-size: 30px;
    font-weight: bold;
}


.navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #ccc !important;
}

.navbar-brand {
    background-color: var(--teal) !important;
    font-family:var(--heading-font);
    font-weight:bold;
    color:white;
}

.spacer5 {
    height: 80px;
}

.navbar-nav > li > a {
    color: var(--other-font-color);
    font-family:var(--other-fonts);
    font-size: 16px;
    font-weight: normal;
    display: block;
}

    .navbar-nav > li > a:hover {
        color: white;
        background-color: var(--teal) !important;
    }

.navbar-default .navbar-nav > li > a:focus {
    color: #673ab7;
}


#about {
    padding: 50px;
    height: auto;
    color: #fff;
    background-color: white;
    border: 1px solid #ddd !important;
    color: var(--other-font-color);
    font-family: var(--other-fonts) !important;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px; /* or 950px */
}

hr{
    margin-top: 50px;
    
    margin-bottom: 20px;
    border: 0;
height: 0;
border-top: 3px solid #999;
border-bottom: 0px solid white;
}

footer {
    position: fixed;
    bottom: 0px;
    left:0px;
    width: 100%;
    height: 60px;
    background-color: #666;
    border-top: 10px solid var(--teal) !important;
    color: var(--other-font-color);
    padding-top: 30px;
    text-align: center;
  }

  img {
    float: left !important;
    width:30%;
    padding-right: 30px;
    padding-bottom: 30px;
  }

.btn-primary{
    background-color: var(--teal);
}
  